
<div class="jumbotron">
  <div class="row w-100">
    <div class="col-md-3" *ngFor="let plane of planes">
      <div class="card mx-sm-1 p-3" [ngStyle]="{'border': '2px solid ' + plane.Color_secondary}">
        <div class="card shadow p-3 my-card" [ngStyle]="{'border': '2px solid ' + plane.Color_secondary}"><img src="../../assets/img/cessna icon.png" width="16" height="16"></div>
        <div class="text-center mt-3">
          <h4>{{plane.registration}}</h4>
        </div>
        <div class="text-center mt-2">
          <p>
            <span class="bold">Coût : {{plane.FlyingCost}} €</span>
            par minute jusqu'à UFN (Until Further Notice)
          </p>
        </div>
        <div class="text-center mt-2">
          <p>
            <span class="bold">Consommation : {{plane.AverageFuelConsumption}} litres</span>
            par heure
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  <button *ngIf = "allRoles.includes('Financial manager')" (click) = "addPeriod()" class = "btn btn-success">Add a new period</button>
    <div *ngIf = "isPeriod" class = "row">
      <div class="col-md-3 border-right ">
        <div class="p-3 py-5">
          <p>Aircraft for the period</p>
            <mat-form-field>
              <mat-label>Chosen aircraft</mat-label>
              <mat-select [(value)] = "selectedAircraft" (selectionChange)="onSelectAircraft($event)">
                <mat-option *ngFor="let aircraft of aircrafts" [value]="aircraft.registration">
                  {{aircraft.registration}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>Start Date</p>
            <mat-form-field>
              <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControlStart"
                [min]="minDate" [max]="maxDate" [value]="dateControlStart.value ? dateControlStart.value.toISOString() : ''">
              <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
                [stepHour]="stepHour" [stepMinute]="30" [stepSecond]="stepSecond" [touchUi]="false"
                [enableMeridian]="true">
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <p>End Date</p>
            <mat-form-field>
              <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" [formControl]="dateControlEnd"
                [disabled]="false" [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                [stepMinute]="30" [stepSecond]="30" [touchUi]="false"
                [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                <!-- Custom icon or text of Apply icon -->
                <ng-template>
                  <!-- <mat-icon>star</mat-icon> -->
                  <span>OK</span>
                </ng-template>
              </ngx-mat-datetime-picker>
            </mat-form-field>
          <p>Flying cost</p>
            <mat-form-field appearance="fill">
              <mat-label>Flying cost</mat-label>
              <input matInput [(ngModel)] = "cost">
            </mat-form-field>
          <p>Average Fuel Consumption</p>
            <mat-form-field appearance="fill">
              <mat-label>Average Fuel Consumption</mat-label>
              <input matInput [(ngModel)] = "fuel_consumption">
            </mat-form-field>
          <button class = "btn btn-success" mat-button (click)="sendData()" [disabled]="!selectedAircraft || !cost || !fuel_consumption" cdkFocusInitial>Valider</button>
        </div>
      </div>
    <div class = "col-md-8">
      <div class="p-3 py-5">
        <div class="mat-elevation-z8">
          <mat-form-field style="width: 40%">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
          <table mat-table *ngIf = "dataSource.data.length != 0" [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
              <!-- Name Column -->

            <ng-container matColumnDef="registration">
              <th mat-header-cell *matHeaderCellDef> Aircraft </th>
              <td mat-cell *matCellDef="let element"> {{element.registration}} </td>
            </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="StartDate">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
              </ng-container>

                <!-- Name Column -->
            <ng-container matColumnDef="EndDate">
              <th mat-header-cell *matHeaderCellDef> End Date </th>
              <td mat-cell *matCellDef="let element"> {{element.EndDate}} </td>
            </ng-container>

            <ng-container matColumnDef="FlyingCost">
              <th mat-header-cell *matHeaderCellDef> Flying cost </th>
              <td mat-cell *matCellDef="let element"> {{element.FlyingCost}} </td>
            </ng-container>

            <ng-container matColumnDef="AverageFuelConsumption">
              <th mat-header-cell *matHeaderCellDef> Fuel Consumption </th>
              <td mat-cell *matCellDef="let element"> {{element.AverageFuelConsumption}}</td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button class="mat-icon-delete" (click)="deleteFlyingCost(element)"><mat-icon >delete</mat-icon></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100]"
            showFirstLastButtons></mat-paginator>
        </div>
    </div>

  </div>
