<h2>Upcoming flights</h2>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{dataSource.data.indexOf(element) + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="registration">
    <th mat-header-cell *matHeaderCellDef> Aircraft </th>
    <td mat-cell *matCellDef="let element"> {{element.registration}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="date_depart">
    <th mat-header-cell *matHeaderCellDef> Date de départ </th>
    <td mat-cell *matCellDef="let element"> {{element.date_depart.toLocaleString()}} </td>
  </ng-container>

  <ng-container matColumnDef="date_arrivee">
    <th mat-header-cell *matHeaderCellDef> Date d'arrivée </th>
    <td mat-cell *matCellDef="let element"> {{element.date_arrivee.toLocaleString()}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element; let i = index"> <mat-icon *ngIf = "element.flight_started">flight_takeoff</mat-icon><mat-icon *ngIf = "!element.flight_started">flight</mat-icon><button (click) = "goFlying(element)" class = "btn btn-success" [class.spinner] = "element.flight_started" [disabled]="element.IsActive || element.flight_started || element.date_depart < dateNow">Start flight</button><button class = "btn btn-danger" (click) = "logFlight(element, i)" *ngIf = "element.flight_started || element.date_arrivee < dateNow"><span *ngIf = "legs_number[i] < 2">Close flight</span><span *ngIf= "legs_number[i] >= 2">Close leg</span></button><mat-form-field *ngIf = "element.flight_started || element.date_arrivee < dateNow"><mat-label>Nombre de legs</mat-label><input matInput type="number" min = 1 (click)="getIndex(i)" [(ngModel)] = "legs_number[i]"></mat-form-field></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<h2>Past flights</h2>

<div class="mat-elevation-z8">
  <mat-form-field style="width: 40%">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <table mat-table *ngIf = "pastFlights.data.length != 0" [dataSource]="pastFlights" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
      <!-- Name Column -->

    <ng-container matColumnDef="Registration">
      <th mat-header-cell *matHeaderCellDef> Aircraft </th>
      <td mat-cell *matCellDef="let element"> {{element.Registration}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Date_Of_Flight">
        <th mat-header-cell *matHeaderCellDef> Date of flight </th>
        <td mat-cell *matCellDef="let element"> {{element.Date_Of_Flight}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="Departure_ICAO_Code">
      <th mat-header-cell *matHeaderCellDef> Departure airport </th>
      <td mat-cell *matCellDef="let element"> {{element.Departure_ICAO_Code}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Departure_Time">
        <th mat-header-cell *matHeaderCellDef> Departure time </th>
        <td mat-cell *matCellDef="let element"> {{element.Departure_Time}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="Arrival_ICAO_Code">
      <th mat-header-cell *matHeaderCellDef> Arrival airport</th>
      <td mat-cell *matCellDef="let element"> {{element.Arrival_ICAO_Code}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Arrival_Time">
        <th mat-header-cell *matHeaderCellDef> Arrival time </th>
        <td mat-cell *matCellDef="let element"> {{element.Arrival_Time}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="Total_Time_Of_Flight">
      <th mat-header-cell *matHeaderCellDef> Total time of flight </th>
      <td mat-cell *matCellDef="let element"> {{element.Total_Time_Of_Flight}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef> Instructor first name </th>
        <td mat-cell *matCellDef="let element"> <div *ngIf = "element.LastName != null">{{element.FirstName}}</div></td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Instructor's last name</th>
      <td mat-cell *matCellDef="let element" > <div *ngIf = "element.LastName != null">{{element.LastName}} </div></td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ShortName">
        <th mat-header-cell *matHeaderCellDef> Type of runway </th>
        <td mat-cell *matCellDef="let element"> {{element.ShortName}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="Landings_Number_Day">
      <th mat-header-cell *matHeaderCellDef> Number of landings - day </th>
      <td mat-cell *matCellDef="let element"> {{element.Landings_Number_Day}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Nature of flight </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="Engine_Start">
      <th mat-header-cell *matHeaderCellDef> Engine start </th>
      <td mat-cell *matCellDef="let element"> {{element.Engine_Start}} </td>
    </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Engine_Stop">
        <th mat-header-cell *matHeaderCellDef> Engine stop </th>
        <td mat-cell *matCellDef="let element"> {{element.Engine_Stop}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="Engine_Time">
      <th mat-header-cell *matHeaderCellDef> Engine total time </th>
      <td mat-cell *matCellDef="let element"> {{element.Engine_Time}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsLog; sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsLog;"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100]"
  showFirstLastButtons></mat-paginator>
</div>
