<h1 mat-dialog-title>Close flight<!--{{data.slot}}--></h1>
<div mat-dialog-content>
  <mat-checkbox [checked] = "isPIC"  (change) = "updatePIC()">Were you pilot in command ?</mat-checkbox>
  <br><br>
  <div *ngIf = "!isPIC" class = "instructor">
    <p>Avec quel instructeur voliez-vous ?</p>
    <mat-form-field>
      <mat-label>Instructeur : </mat-label>
      <mat-select [(value)] = "selectedInstructor">
        <mat-option *ngFor="let instructor of instructorsList" [value]="instructor">
          {{instructor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Instructor errors -->
    <div *ngIf="!selectedInstructor"
    class="alert alert-warning">
      Please select an instructor.
    </div>
  </div>

  <p>Off-Block date/time</p>
    <ngx-mat-timepicker-field color="warn"
      [format]="24"
      [defaultTime]="'09:00'"
      [controlOnly]="true"
      [(ngModel)] = "departure_time">
    </ngx-mat-timepicker-field>
  <p>On-Block date/time</p>
    <ngx-mat-timepicker-field color="warn"
      [format]="24"
      [defaultTime]="'10:00'"
      [controlOnly]="true"
      [(ngModel)] = "arrival_time">
    </ngx-mat-timepicker-field>
  </div>
  <p>Take-off Location (ICAO)</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ICAO code airport</mat-label>
    <input required  #departure_icao = "ngModel" matInput placeholder="Ex. EBFS" [(ngModel)] = "departure_icao_code" value="EBFS">
  </mat-form-field>
  <!-- Departure airport errors -->
  <div *ngIf="departure_icao.invalid && (departure_icao.dirty || departure_icao.touched)"
    class="alert alert-danger">
    <div *ngIf="departure_icao.errors?.['required']">
      Departure ICAO is required.
    </div>
  </div>

  <p>Landing Location (ICAO)</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ICAO code airport</mat-label>
    <input required #arrival_icao = "ngModel" matInput placeholder="Ex. EBFS" value="EBFS" [(ngModel)] = "arrival_icao_code">
  </mat-form-field>
  <!-- Arrival airport errors -->
  <div *ngIf="arrival_icao.invalid && (arrival_icao.dirty || arrival_icao.touched)"
    class="alert alert-danger">
    <div *ngIf="arrival_icao.errors?.['required']">
       ICAO is required.
    </div>
  </div>
  <p>Start hour meter (format : xxxx:xx)</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Engine start time</mat-label>
    <input matInput placeholder="5031:25" [(ngModel)] = "engine_last_start">
  </mat-form-field>

  <p>End hour meter (format : xxxx:xx)</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Engine end time</mat-label>
    <input required #engine_stop = "ngModel" matInput placeholder="5031:25" [(ngModel)] = "engine_end" (change)="computeFlightTime()">
  </mat-form-field>
    <!-- Engine end  errors -->
    <div *ngIf="engine_stop.invalid && (engine_stop.dirty || engine_stop.touched)"
    class="alert alert-danger">
      <div *ngIf="engine_stop.errors?.['required']">
        Engine stop is required.
      </div>
    </div>

  <p>Total time of flight</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Time of flight</mat-label>
    <input matInput [disabled]="true" [(ngModel)] = "total_flight_time">
  </mat-form-field>
   <!-- Total time errors -->
   <div *ngIf="total_flight_time.includes('NaN')"
   class="alert alert-danger">
       Engine end time is invalid.
    </div>
  <p>Type of runway</p>
  <mat-form-field>
    <mat-label>Type de piste : </mat-label>
    <mat-select [(value)] = "selectedRunway">
      <mat-option *ngFor="let runway_type of type_of_runwayList" [value]="runway_type">
        {{runway_type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Nature errors -->
  <div *ngIf="!selectedRunway"
  class="alert alert-warning">
    Please select a runway type.
  </div>


  <p>Number of landings</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number of landings</mat-label>
    <input matInput type="number" [(ngModel)]="number_landings_day">
  </mat-form-field>
  <br>
  <mat-checkbox [checked] = "isNightFlight === 1"  (change) = "updateNightFlight()">Was it a night flight ?</mat-checkbox>
  <br><br>
  <div class = "nightLanding" *ngIf = "isNightFlight === 1" >
    <p>Number of night landings</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number of night landings</mat-label>
      <input matInput type="number" value="1">
    </mat-form-field>
  </div>
  <p>Quelle était la nature du vol ?</p>
  <mat-form-field>
    <mat-label>Nature du vol : </mat-label>
    <mat-select [(value)] = "selectedNature">
      <mat-option *ngFor="let flight_nature of nature_of_flightsList" [value]="flight_nature">
        {{flight_nature}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Nature errors -->
  <div *ngIf="!selectedNature"
  class="alert alert-warning">
    Please select a flight Nature.
  </div>

  <mat-checkbox [checked] = "hasOil"  (change) = "updateOil()">Oil added ?</mat-checkbox>
  <br><br>
  <div *ngIf = "hasOil" class = "oil">
    <p>Oil added before flight</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Oil added before</mat-label>
      <input matInput type="number" [(ngModel)] = "oil_added_before">
    </mat-form-field>
    <p>Oil added after flight</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Oil added after</mat-label>
      <input matInput type="number" [(ngModel)] = "oil_added_after">
    </mat-form-field>

  </div>
  <mat-checkbox [checked] = "hasFuel"  (change) = "updateFuel()">Fuel added ?</mat-checkbox>
  <br><br>
  <div *ngIf = "hasFuel" class = "fuel">
    <p>Fuel added before flight</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fuel added before</mat-label>
      <input matInput type="number" [(ngModel)] = "fuel_added_before">
    </mat-form-field>
    <p>Fuel added after flight </p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fuel added after</mat-label>
      <input matInput type="number" [(ngModel)] = "fuel_added_after">
    </mat-form-field>
    <p>Fuel Location</p>
    <mat-form-field class = "example-full-width" appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Ex.EBFS" [(ngModel)] = "fuel_location">
    </mat-form-field>
    <p>Fuel invoice</p>
    <mat-form-field class = "example-full-width" appearance="fill">
      <mat-label>Invoice</mat-label>
      <input matInput type="text" [(ngModel)] = "fuel_invoice" (blur)="transformAmount($event)" [value] = "formatted_fuel_invoice">
    </mat-form-field>

    <p><mat-checkbox *ngIf = "fuel_invoice > 0" [checked] = "fuelInvoicePaid"  (change) = "updateFuelInvoicePaid()">Fuel invoice paid?</mat-checkbox></p>
  </div>
  <mat-checkbox [checked] = "hasLandingFee" (change) = "updateLandingFee()" >Landing fees?</mat-checkbox>
  <br/>
  <br/>
  <div *ngIf = "hasLandingFee" class = "fee">
    <p>Landing location</p>
    <mat-form-field class = "example-full-width" appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Ex.EBFS" [(ngModel)] = "landing_fee_location">
    </mat-form-field>
    <p>Landing fee</p>
    <mat-form-field class = "example-full-width" appearance="fill">
      <mat-label>Fee</mat-label>
      <input matInput type="text" [(ngModel)] = "landing_fee" (blur)="transformAmountFee($event)" [value] = "formatted_landing_fee">
    </mat-form-field>
    <p><mat-checkbox *ngIf = "landing_fee > 0" [checked] = "landingFeePaid"  (change) = "updateLandingFeePaid()">Landing fee paid?</mat-checkbox></p>
  </div>
  <p><mat-checkbox [checked] = "hasSharing" (change) = "updateSharingPilots()" >Pilots members sharing flight?</mat-checkbox></p>
  <div  *ngIf = "hasSharing" >
    <mat-form-field id = "pilotText">
      <mat-label>Pilot to add</mat-label>
        <input type="text"
            matInput
            #pilotInput
            [formControl]="pilotControl"
            [(ngModel)]="selectedPilot"
            [matAutocomplete]="auto2">
        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" >
          <mat-option *ngFor="let pilot of filteredPilot | async" [value]="pilot">
            {{pilot}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field id = "pilotShare">
      <mat-label>Pilot's share</mat-label>
      <input type="number" matInput [(ngModel)]="pilotShare">
    </mat-form-field>
    <button class = "btn btn-success" (click) = "addPilotShare(selectedPilot, pilotShare)">Add</button>
    <table mat-table [dataSource]="pilotsSharingList" class="mat-elevation-z8">
      <ng-container matColumnDef="pilot">
        <th mat-header-cell *matHeaderCellDef>Pilot</th>
        <td mat-cell *matCellDef="let element">{{element.pilot}}</td>
      </ng-container>

      <ng-container matColumnDef="share">
        <th mat-header-cell *matHeaderCellDef>Share</th>
        <td mat-cell *matCellDef="let element">{{element.share}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button *ngIf = "i > 0" (click) = delete(i)><mat-icon [ngStyle]="{'color': 'red'}">delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br/>

  <p>POB</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Persons on board</mat-label>
    <input matInput type="number" [(ngModel)] = "total_pob">
  </mat-form-field>
  <p>Passengers name</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Passengers names</mat-label>
    <input matInput placeholder="Ex. Philippe" [(ngModel)] = "passengers">
  </mat-form-field>
  <p>Remarks</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Remarks</mat-label>
    <textarea matInput placeholder="Ex. Tires exploded..." [(ngModel)] = "remarks"></textarea>
  </mat-form-field>
  <p>Technical issues</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Technical issues</mat-label>
    <textarea matInput placeholder="Ex. Tires exploded..." [(ngModel)] = "technical_problems"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
  <button class = "btn btn-danger" mat-button (click)="onNoClick()">Annuler</button>
  <button class = "btn btn-success" mat-button (click)="sendData()" [disabled]="!selectedNature || !selectedRunway || !engine_end" cdkFocusInitial>Valider</button>
</div>
