<div *ngIf = "!data.currentEvent.event.meta.maintenance"><h1 mat-dialog-title>Modifier la réservation <!--{{data.slot}}--></h1>
  <div mat-dialog-content>
    <p>Description du vol</p>
    <mat-form-field appearance="fill">
      <mat-label>Description du vol</mat-label>
      <input matInput [(ngModel)] = "description">
    </mat-form-field>
    <p>Sur quel avion comptez-vous voler ?</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Aircraft chosen</mat-label>
      <input matInput [disabled]="true" [value]= "data.currentEvent.event.meta.type">
    </mat-form-field>
    <p>Date et heure de départ</p>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControlStart"
        [min]="minDate" [max]="maxDate" [disabled]="disabled">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
        [stepHour]="stepHour" [stepMinute]="30" [stepSecond]="stepSecond" [touchUi]="touchUi"
        [color]="color" [enableMeridian]="enableMeridian">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <p>Date et heure d'arrivée</p>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" [formControl]="dateControlEnd"
        [disabled]="false" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
        [stepMinute]="30" [stepSecond]="1" [touchUi]="false"
        [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
        <!-- Custom icon or text of Apply icon -->
        <ng-template>
          <!-- <mat-icon>star</mat-icon> -->
          <span>OK</span>
        </ng-template>
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
</div>
<div *ngIf = "data.currentEvent.event.meta.maintenance"><h1 mat-dialog-title>Update aircraft availability <!--{{data.slot}}--></h1>
  <div mat-dialog-content>
    <p>Unavailability reason</p>
    <mat-form-field appearance="fill">
      <mat-label>Unavailability reason</mat-label>
      <input matInput [(ngModel)] = "description">
    </mat-form-field>
    <p>Aircraft to ground</p>
    <mat-form-field>
      <mat-label>Aircraft to ground</mat-label>
      <mat-select [(value)] = "selectedAircraft">
        <mat-option *ngFor="let aircraft of aircrafts" [value]="aircraft.registration">
          {{aircraft.registration}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Date et heure de début</p>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControlStart"
        [min]="minDate" [max]="maxDate" [disabled]="disabled">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
        [stepHour]="stepHour" [stepMinute]="30" [stepSecond]="stepSecond" [touchUi]="touchUi"
        [color]="color" [enableMeridian]="enableMeridian">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <p>Date et heure de fin</p>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" [formControl]="dateControlEnd"
        [disabled]="false" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
        [stepMinute]="30" [stepSecond]="1" [touchUi]="false"
        [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
        <!-- Custom icon or text of Apply icon -->
        <ng-template>
          <!-- <mat-icon>star</mat-icon> -->
          <span>OK</span>
        </ng-template>
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button class = "btn btn-danger" mat-button (click)="onNoClick()">Annuler</button>
  <button class = "btn btn-success" mat-button (click)="sendData()" mat-dialog-close cdkFocusInitial>Valider</button>
  <button class="btn btn-danger btn-sm rounded-0" mat-button (click)="deleteEvent()"><fa-icon [icon]="faTrash"></fa-icon>
  </button>
</div>
