table {
  width: 100%;
}
::ng-deep button.mat-icon-flight_land{
  border: none;
  background-color: white;
}
::ng-deep button.mat-icon-flight{
  border: none;
  background-color: white;
}
h2{
  text-align: center;
}
.demo-table {
  width: 100%;
}

.btn-danger{
  float: right;
}

.demo-row-is-clicked {
  font-weight: bold;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 70vw;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
.mat-paginator-range-label {
  display: none;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}


/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
color: rgb(255, 255, 255);
/* background-color: white; */
}
/* Font color */
input.mat-input-element {
color: rgb(0, 0, 0);
}
::ng-deep button{
  border: none;
  background-color: white;
}
