<h2>Display and edit members operational status</h2>
<div class="mat-elevation-z8">
  <mat-form-field style="width: 40%">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <mat-form-field style="width: 20%; float: right;">
    <mat-label>Go to Page</mat-label>
    <input matInput type="number" placeholder="Enter page number" [(ngModel)]="pageNumber" (ngModelChange)="goToPage()">
  </mat-form-field>
  <form [formGroup]="VOForm" autocomplete="off">
    <ng-container formArrayName="VORows">
      <table id="excel-table" mat-table *ngIf = "all_members_operational_status && all_members_operational_status.length != 0" [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
          <!-- Name Column -->

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field style="width: 70px;" [appearance]="VOForm!.get('VORows')!.value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="position" [readonly]="true">
            </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field style="width: 70px;"
              [appearance]="VOForm!.get('VORows')!.value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="FirstName" [readonly]="true">
            </mat-form-field>
          </td>
        </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup] = "element">
              <mat-form-field style="width: 70px;"
              [appearance]="VOForm!.get('VORows')!.value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="LastName" [readonly]="true">
            </mat-form-field>
            </td>
          </ng-container>

            <!-- Name Column -->
        <ng-container matColumnDef="License_validity">
          <th mat-header-cell *matHeaderCellDef> PPL License validity</th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_License_validity" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="License_validity" [readonly]="true">
            </mat-form-field>
          </td>
        </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Sep_validity">
            <th mat-header-cell *matHeaderCellDef> SEP validity </th>
            <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Sep_validity" *matCellDef="let element; let i = index" [formGroup] = "element">
              <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <input matInput type="text" formControlName="Sep_validity" [readonly]="true">
              </mat-form-field>
            </td>
          </ng-container>

            <!-- Name Column -->
        <ng-container matColumnDef="Medical_class_validity">
          <th mat-header-cell *matHeaderCellDef> Medical class 2 validity</th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Medical_class_validity" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="Medical_class_validity" [readonly]="true">
            </mat-form-field>
          </td>
        </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Bi_qual">
            <th mat-header-cell *matHeaderCellDef> OO-HBI qualification date</th>
            <td mat-cell [(NgModel)] = "VOForm.get('VORows').value[i].color_Bi_qual" [style.background-color] = "VOForm.get('VORows').value[i].color_Bi_qual" *matCellDef="let element; let i = index" [formGroup] = "element">
              <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <input matInput type="text" formControlName="Bi_qual" [readonly]="false">
              </mat-form-field>
              <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker_bi_qual"  formControlName="Bi_qual" [readonly]="false">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker_bi_qual"></mat-datepicker-toggle>
                <mat-datepicker #picker_bi_qual></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Bi_date">
            <th mat-header-cell *matHeaderCellDef> OO-HBI last flight date</th>
            <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Bi_date" *matCellDef="let element; let i = index" [formGroup] = "element">
              <mat-form-field style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <input matInput type="text" formControlName="Bi_date" [readonly]="true">
              </mat-form-field>
            </td>
          </ng-container>

            <!-- Name Column -->
        <ng-container matColumnDef="Bu_qual">
          <th mat-header-cell *matHeaderCellDef> OO-HBU qualification date </th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Bu_qual" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="Bu_qual" [readonly]="false">
            </mat-form-field>
            <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
            [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker_bu_qual"  formControlName="Bu_qual" [readonly]="false">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker_bu_qual"></mat-datepicker-toggle>
              <mat-datepicker #picker_bu_qual></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Bu_date">
          <th mat-header-cell *matHeaderCellDef> OO-HBU last flight date</th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Bu_date" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="Bu_date" [readonly]="true">
            </mat-form-field>
          </td>
        </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="By_qual">
            <th mat-header-cell *matHeaderCellDef> OO-HBY qualification date</th>
            <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_By_qual" *matCellDef="let element; let i = index" [formGroup] = "element">
              <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <input matInput type="text"  formControlName="By_qual" [readonly]="false">
              </mat-form-field>
              <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker_by_qual"  formControlName="By_qual" [readonly]="false">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker_by_qual"></mat-datepicker-toggle>
                <mat-datepicker #picker_by_qual></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="By_date">
            <th mat-header-cell *matHeaderCellDef> OO-HBY last flight date</th>
            <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_By_date" *matCellDef="let element; let i = index" [formGroup] = "element">
              <mat-form-field style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
                <input matInput type="text" formControlName="By_date" [readonly]="true">
              </mat-form-field>
            </td>
          </ng-container>

            <!-- Name Column -->
        <ng-container matColumnDef="Bq_qual">
          <th mat-header-cell *matHeaderCellDef> OO-HBQ qualification date</th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Bq_qual" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="Bq_qual" [readonly] = "false">

            </mat-form-field>
            <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
            [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker_bq_qual"  formControlName="Bq_qual" [readonly]="false">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker_bq_qual"></mat-datepicker-toggle>
              <mat-datepicker #picker_bq_qual></mat-datepicker>
            </mat-form-field>

          </td>
        </ng-container>

        <ng-container matColumnDef="Bq_date">
          <th mat-header-cell *matHeaderCellDef> OO-HBQ last flight date</th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Bq_date" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="Bq_date" [readonly]="true">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Special_decision_end">
          <th mat-header-cell *matHeaderCellDef> Special decision end date</th>
          <td mat-cell [style.background-color] = "VOForm.get('VORows').value[i].color_Special_decision_end" *matCellDef="let element; let i = index" [formGroup] = "element">
            <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
              [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <input matInput type="text" formControlName="Special_decision_end" [readonly]="false">
            </mat-form-field>
            <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 70px;"
            [appearance]="VOForm.get('VORows').value[i].isEditable ? 'none' : 'legacy'">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker_special_decision_end"  formControlName="Special_decision_end" [readonly]="false">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker_special_decision_end"></mat-datepicker-toggle>
              <mat-datepicker #picker_special_decision_end></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>



        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                    matTooltip="Save Changes" (click)="SaveVO(VOForm,i)"
                                    *ngIf="!VOForm.get('VORows').value[i].isEditable" color="primary">
                                    <mat-icon [ngStyle]="{'color': 'blue'}">check_circle</mat-icon>
                                </button>

            <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                    matTooltip="Cancel Changes" color="warn"
                                    (click)="CancelSVO(VOForm,i)"
                                    *ngIf="!VOForm.get('VORows').value[i].isEditable">
                                    <mat-icon [ngStyle]="{'color': 'red'}">cancel</mat-icon>
                                </button>

            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                    *ngIf="VOForm.get('VORows').value[i].isEditable"
                                    matTooltip="Edit" color="primary" (click)="EditSVO(VOForm,i)">
                                    <mat-icon [ngStyle]="{'color': 'blue'}">edit</mat-icon>
                                </button>

          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
  </form>
  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100]"
  showFirstLastButtons></mat-paginator>
</div>
<button class = "btn btn-primary" (click) = "exportExcel()">Export<mat-icon>file_download</mat-icon></button>
