::ng-deep div.container{
  margin: 0;
  padding-left: 45%;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.scroll-container {
  height: calc(100vh - 320px);
  overflow-y: auto;
}
.inline{
  display: flex;
}

button.mat-menu-trigger{
  border: none;
  background-color: #FAFAFA;
}


::ng-deep .cal-week-view .cal-event-title {
  color: white;
}
::ng-deep #oohbi.cal-event{
  background-image: url("../../assets/img/oohbi.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
::ng-deep #oohbu.cal-event{
  background-image: url("../../assets/img/oohbu.png");
  background-repeat: no-repeat;
  background-position: bottom;

}
::ng-deep #oohby.cal-event{
  background-image: url("../../assets/img/oohby.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
::ng-deep #oohbq.cal-event{
  background-image: url("../../assets/img/oohbq.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
::ng-deep .container.bg-light.border{
  max-width: 30rem;
  padding-left: 0 !important;
}
